body {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

#description {
  text-align: left;
}

#webcam {
    width: 500px;
    height: 375px;
    background-color: #767c87;
    border: 10px #333 solid;
}

button {
    margin: 5px 25px;
    padding: 12px 28px;
    font-size: 16px;
    background-color: #f44336;
    border-radius: 8px;
    border: 2px solid black;
}

#captureButton {
    background-color: #14db35;
}

#scrollButton {
    background-color: #32faf3;
}

#circle {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: yellow;
    border: 3px solid red;
}

.camButtonOn {
    background-color: #2cb7e6;
}